@tailwind base;
@tailwind components;
@tailwind utilities;


.comic-bubble {
    position: relative;
    padding: 1.5rem; 
    border-radius: 0.5rem; 
}

.arrow {
    position: absolute;
    bottom: 100%; 
    left: 1.5rem; 
    margin-left: -10px; 
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1C2541; 
}

.project-bubble {
    position: relative;
    padding: 1.5rem; 
    border-radius: 1rem; 
    transition: transform 0.3s ease-in-out; 
}

.project-bubble:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}